*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url(/img/header.jpg);
}
nav{
  padding-top: 50px;
  
}
.navbar-login{
  position: relative;
  left: 92%;
  bottom: 24px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  
}.main-sec-text{
  text-align: center;
  font-weight: bold;
  color: 	#32CD32;
  margin-top: 30px;
}
.main-sec-text2{
  color: #fff;
}
.main-sec-img{
  text-align: center;
  width: 100%;
  height: 500px;
}
.btn-parent{
  
}
.btn{
  font-weight: bold;
  background-color: #fff;
  border-radius: 5px;
  border-color: #fff;
  padding: 19px 19px 19px 19px;
}
.main-sec-text-btn{
  text-align: center;
}

.main-sec-low-btn{
  color: grey;
  
  
}
/*The Start of the second section of the webpage*/
.second-section{
  background-color: rgba(0, 0, 0, 0.363);
  opacity: 100%;
  padding: 10px 10px 10px 10px;
  margin-top: 15%;
  
}
.second-section2{
  display:flex;
  justify-content: space-evenly;
}
.snd-sec-text{
color: #32CD32;
font-size: 50px;
}
.snd-sec-text2{
  color: #fff;
  font-size: 20px;
}

.snd-sec-span{
color: #32CD32;
font-size: 15px;
text-align: center;
font-weight: bold;
}
.snd-sec-btn{
padding: 5px 30px 5px 30px;
background-color: transparent;
color: #fff;
border-color: #fff;
border-radius: 5px;
font-weight: bold;

}

/*The of the second section of the webpage*/


/*This is the start of the third section of the webpage*/